.img-preview-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
}
div#cke_editor1 {
    margin-bottom: 15px;
}
.feeding-advisor-form label {
    margin-bottom: 0.5rem;
    font-size: 13px;
}